.container .col-2 {
    border: black 1px solid;
}
.col-4{
    border: black 1px solid;
}
.col-md-8{
    border: black 1px solid;
    
}
.col-md-4{
    border: black 1px solid;
    
}

.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    
}


.carousel-item{
    display: block;
    justify-content: center;
}

.celular{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

